USE [Aluno_Notas_Disciplina]
GO
/****** Object:  Trigger [dbo].[TGR_MATRICULA_AI]    Script Date: 3/18/2022 3:19:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TGR_MATRICULA_AI]
ON [dbo].[Matricula]
AFTER INSERT
AS
BEGIN
	DECLARE @NOTA1 DECIMAL(10,2), @NOTA2 DECIMAL(10,2), @SUB DECIMAL(10,2), @FALTA INT, @RA_ALUNO INT, @COD_DISC VARCHAR(15)

	SELECT @NOTA1 = Nota1, @NOTA2 = Nota2, @SUB = Sub, @FALTA = Falta, @RA_ALUNO = RA_Aluno, @COD_DISC = Cod_Disc FROM INSERTED

	EXECUTE dbo.PROC_MATRICULA @NOTA1, @NOTA2, @SUB, @FALTA, @RA_ALUNO, @COD_DISC
END
